<<<<<<< HEAD
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: 30px;
    transition: background-color 0.5s ease;
}
#emoji-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.emoji{
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.2s;

}
.emoji.hover{
    transform: scale(1.3);
}
#mood-message{
    font-size: 24px;
    margin-top: 30px;
    font-weight: bold;
=======
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: 30px;
    transition: background-color 0.5s ease;
}
#emoji-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}
.emoji{
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.2s;

}
.emoji.hover{
    transform: scale(1.3);
}
#mood-message{
    font-size: 24px;
    margin-top: 30px;
    font-weight: bold;
>>>>>>> 5bc59756f57d050584635ae13ee7fd4a36ec2127
}